.body {
	font-family: 'Lato', sans-serif;
}

/*NAVBAR*/
.navbar-toggle {
	position: relative;
	float: left;
	padding: 9px 10px;
	margin-top: 8px;
	margin-right: 15px;
	margin-bottom: 8px;
	background-image: none;
	border: 1px solid transparent;
	border-radius: 4px;
}

.navbar-fixed-top {
	background-color: #fff;
	border: 2px solid #fff;
	color: #000;
}

.navbar-inverse .navbar-toggle:focus, .navbar-toggle:hover {
	background-color: #fff;
}
.navbar-inverse .navbar-toggle .icon-bar {
	background-color: #888;
}

.logo {
	margin-left: 50px;
	padding-top: 30px;
}

.navbar-right {
	margin-right: 60px;;
}

/*SECCION TAXI*/
.taxi {
	background-image: url(../assets/images/taxi.jpg);
	width: 100%;
	height: 700px;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: 50% 92%;
}

.yellow {
	background-color: #F7B617;
	color: #fff;
	margin-top: 200px;
	padding: 30px;
}

.yellowTwo {
	background-color: #F7B617;
	color: #fff;
	margin-top: 300px;
	padding: 30px;
}

.btnOne {
	background-color: #fff;
	color: black;
	border: none;
	border-radius: 4px;
	padding-top: 5px;
	padding-bottom: 5px;
}

.viaja {
	padding-top: 20px;
}

.logo2 {
	position: relative;
	width: 70px;
	left: 10px;
}

.alternative {
	position: relative;
	bottom: 36px;
	padding-left: 30px;
	padding-right: 30px;
	text-align: center;
}

/*SECCION CELULAR*/
.telephone {
	background-color: #F7B617;
	color: #fff;
	width: 100%;
	height: 500px;
}

.texto {
	padding: 10px;
	left: 200px;
}

.phone {
	width: 250px;
	margin-top: 10px;
}

.borde {
	border: 1px solid #fff;
	top: 70px;
	margin: 10px;
	right: 85px;
}

.borde4 {
	padding-top: 70px;
}

.borde3 {
	bottom: 300px;
	left: 80px;
}

/*SECCION CONDUCCION*/
.conduce {
	background-image: url(../assets/images/conduce.jpg);
	color: #fff;
	width: 100%;
	height: 500px;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: 50% 50%;
}

.btn {
	background-color: #F7B617;
	border: none;
}

.conduceBien{
	background-color: rgba(0,0,0, 0.5);
	height: 498px;
}

.conduceBien p {
	color: #fff;
}

.expandir {
	background-color: rgba(0,0,0, 0.5);
	height: 498px;
}

.p1 {
	margin-top: 130px;
}

/*SECCION MAPA*/
.tarifas{
	background-color: #F7B617;
	color: #fff;
	width: 100%;
	height: auto;
}

.costo {
	padding: 100px;
}

.trazar {
	color: #000;
	margin-left: 90px;
	margin-top: 20px;
}

.datos {
	background-color: #F7B617;
	border: 1px solid #fff;
	border-radius: 4px;
	padding: 6px;

	margin-top: 20px;
}

.datos::-webkit-input-placeholder {
	color: #fff;
} 
.datos::-moz-placeholder {
	color: #fff;
} 
.datos:-ms-input-placeholder {
	color: #fff;
} 
.datos:-moz-placeholder {
	color: #fff;
}

iframe {
	margin-top: 50px;
}

.borde2 {
	outline: 1px double #fff;
	padding: 10px;
	width: 100%;
}

/*SECCION FOOTER*/
.pie-pag {
	background-color: #2B2B2B;
	color: #fff;
	width: 100%;
	height: 450px;
	padding-top: 20px;
}

.rtq {
	width: 150px;
	margin-top: 100px;
}

.rtq1 {
	padding-bottom: 20px;
	width: 112%;
}

.rtq2 {
	width: 112%;
}

.fa {
	padding-right: 10px;
}

.a:hover {
	color: #F7B617;
	cursor: pointer;
}

/*MODAL INICIAR SESION*/
.login-color {
	background-color: #cccccc;
	color: #fff;
}

.align-center {
	text-align: center;
}

.photo {
	width: 7em;
	height: auto;
	display:block;
	margin:auto;
}

.content {
	width: 100%;
}

.content a {
	color: #f7b617;
}



/* PADDING */
.padding-xs { padding: .25em; }
.padding-sm { padding: .5em; }
.padding-md { padding: 1em; }
.padding-lg { padding: 1.5em; }
.padding-xl { padding: 3em; }
.padding-xxl { padding: 10em; }

.padding-x-xs { padding: .25em 0; }
.padding-x-sm { padding: .5em 0; }
.padding-x-md { padding: 1em 0; }
.padding-x-lg { padding: 1.5em 0; }
.padding-x-xl { padding: 3em 0; }
.padding-x-xxl { padding: 10em 0; }

.padding-y-xs { padding: 0 .25em; }
.padding-y-sm { padding: 0 .5em; }
.padding-y-md { padding: 0 1em; }
.padding-y-lg { padding: 0 1.5em; }
.padding-y-xl { padding: 0 3em; }
.padding-y-xxl { padding: 0 10em; }

.padding-top-xs { padding-top: .25em; }
.padding-top-sm { padding-top: .5em; }
.padding-top-md { padding-top: 1em; }
.padding-top-lg { padding-top: 1.5em; }
.padding-top-xl { padding-top: 3em; }
.padding-top-xxl { padding-top: 10.5em; }

.padding-right-xs { padding-right: .25em; }
.padding-right-sm { padding-right: .5em; }
.padding-right-md { padding-right: 1em; }
.padding-right-lg { padding-right: 1.5em; }
.padding-right-xl { padding-right: 3em; }

.padding-bottom-xs { padding-bottom: .25em; }
.padding-bottom-sm { padding-bottom: .5em; }
.padding-bottom-md { padding-bottom: 1em; }
.padding-bottom-lg { padding-bottom: 1.5em; }
.padding-bottom-xl { padding-bottom: 3em; }

.padding-left-xs { padding-left: .25em; }
.padding-left-sm { padding-left: .5em; }
.padding-left-md { padding-left: 1em; }
.padding-left-lg { padding-left: 1.5em; }
.padding-left-xl { padding-left: 3em; }

.modal-content {
	background-color: #cccccc;
}

.titulo{
	background-color: black;
	color: white;
	text-align: center;
	padding: 10px;
	border-radius: 5px;
}

.subtitulo{
	text-align: center;
}

#nombre{
	width: 49%;
	padding: 10px;
	margin-right: 2px;
}

#apellido{
	width: 50%;
	padding: 10px;
	margin-left: 2px;
}

.info{
	width: 100%;
	padding: 10px;
	margin-top: 5px;
}

#foot{
	background-color: #43BDE0;
	color: #fff;
	width: 100%;
	text-align: center;
	padding: 10px;
	border: 1px solid transparent;
	border-radius: 5px;
}

.pregunta{
	width: 100%;
	padding: 10px;
}

